<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TecSecret_BrazilCustomerAttributes::title" title="Brazil Customer Attributes" translate="title" module="TecSecret_BrazilCustomerAttributes" sortOrder="200" parent="TecSecret_CodeBase::TecSecret" dependsOnModule="TecSecret_BrazilCustomerAttributes" resource="TecSecret_BrazilCustomerAttributes::brazilcustomerattributes"/>
        <add id="TecSecret_BrazilCustomerAttributes::configuration" title="Configuration" translate="title" module="TecSecret_BrazilCustomerAttributes" sortOrder="100" parent="TecSecret_BrazilCustomerAttributes::title" action="adminhtml/system_config/edit/section/BrazilCustomerAttributes" dependsOnModule="TecSecret_BrazilCustomerAttributes" resource="TecSecret_BrazilCustomerAttributes::configuration"/>
    </menu>
</config>